<a href="https://colab.research.google.com/github/SamSilv2/Exerc-cios-MBT-Data-Science-e-IA/blob/main/SQL_Aula_2_Exerc%C3%ADcios_Resolucao_Samuel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setup

In [1]:
!pip install jupysql

Collecting jupysql
  Downloading jupysql-0.10.10-py3-none-any.whl (95 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.7/95.7 kB 3.1 MB/s eta 0:00:00
Requirement already satisfied: prettytable in /usr/local/lib/python3.10/dist-packages (from jupysql) (3.9.0)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from jupysql) (2.0.27)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from jupysql) (0.4.4)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from jupysql) (3.1.3)
Requirement already satisfied: sqlglot>=11.3.7 in /usr/local/lib/python3.10/dist-packages (from jupysql) (19.9.0)
Collecting jupysql-plugin>=0.4.2 (from jupysql)
  Downloading jupysql_plugin-0.4.2-py3-none-any.whl (250 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.9/250.9 kB 16.7 MB/s eta 0:00:00
Collecting ploomber-core>=0.2.7 (from jupysql)
  Downloading ploomber_core-0.2.25-py3-none-any.whl (22 kB)
Collecting ploomber-extension (from jupysql)
  Downloading ploomber_extension-0.1.0-py3-none-any.whl (193 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 193.0/193.0 kB 25.4 MB/s eta 0:00:00
Requirement already satisfied: pyyaml in /usr/local/lib/python3.10/dist-packages (from ploomber-core>=0.2.7->jupysql) (6.0.1)
Collecting posthog (from ploomber-core>=0.2.7->jupysql)
  Downloading posthog-3.4.1-py2.py3-none-any.whl (41 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.1/41.1 kB 6.0 MB/s eta 0:00:00
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->jupysql) (2.1.5)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prettytable->jupysql) (0.2.13)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->jupysql) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->jupysql) (3.0.3)
Requirement already satisfied: requests<3.0,>=2.7 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.31.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.16.0)
Collecting monotonic>=1.5 (from posthog->ploomber-core>=0.2.7->jupysql)
  Downloading monotonic-1.6-py2.py3-none-any.whl (8.2 kB)
Collecting backoff>=1.10.0 (from posthog->ploomber-core>=0.2.7->jupysql)
  Downloading backoff-2.2.1-py3-none-any.whl (15 kB)
Requirement already satisfied: python-dateutil>2.1 in /usr/local/lib/python3.10/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2024.2.2)
Installing collected packages: monotonic, backoff, posthog, ploomber-core, ploomber-extension, jupysql-plugin, jupysql
Successfully installed backoff-2.2.1 jupysql-0.10.10 jupysql-plugin-0.4.2 monotonic-1.6 ploomber-core-0.2.25 ploomber-extension-0.1.0 posthog-3.4.1

In [2]:
%load_ext sql

Deploy FastAPI apps for free on Ploomber Cloud! Learn more: https://ploomber.io/s/signup

In [3]:
%sql sqlite:///banco.sqlite3

Connecting to 'sqlite:///banco.sqlite3'

# Exercícios

1. Crie uma tabela chamada "clientes" com as colunas "id" (integer), "nome" (text) e "email" (text).

In [4]:
%%sql

CREATE TABLE clientes (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  nome TEXT,
  email TEXT
)

Running query in 'sqlite:///banco.sqlite3'

++
||
++
++

2. Crie uma tabela chamada "produtos" com as colunas "id" (integer), "nome" (text), "preco" (numeric) e "quantidade" (integer).

In [5]:
%%sql

CREATE TABLE produtos (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  nome TEXT,
  preco NUMERIC,
  quantidade INTEGER
)

Running query in 'sqlite:///banco.sqlite3'

++
||
++
++

3. Crie uma tabela chamada "pedidos" com as colunas "id" (integer), "cliente_id" (integer) e "total" (numeric).

In [6]:
%%sql

CREATE TABLE pedidos (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  cliente_id INTEGER,
  total NUMERIC,
  FOREIGN KEY (cliente_id) REFERENCES clientes(id) ON DELETE CASCADE
)

Running query in 'sqlite:///banco.sqlite3'

++
||
++
++

4. Adicione uma coluna chamada "endereco" (text) na tabela "clientes"

In [7]:
%%sql

ALTER TABLE clientes
ADD COLUMN endereco TEXT

Running query in 'sqlite:///banco.sqlite3'

++
||
++
++

5. Crie uma tabela chamada "fornecedores" com as colunas "id" (integer), "nome" (text) e "telefone" (text).

In [8]:
%%sql

CREATE TABLE fornecedores (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  nome TEXT,
  telefone TEXT
)

Running query in 'sqlite:///banco.sqlite3'

++
||
++
++

6. Exclua a tabela "produtos".

In [9]:
%%sql

DROP TABLE produtos

Running query in 'sqlite:///banco.sqlite3'

++
||
++
++

7. Insira um novo cliente com nome "João" e email "joao@example.com".

In [10]:
%%sql

INSERT INTO clientes (nome, email, endereco) VALUES ('João','joao@example.com','')

Running query in 'sqlite:///banco.sqlite3'

1 rows affected.

++
||
++
++


8. Insira um novo fornecedor com nome "ABC Distribuidora" e telefone "123-456789".

In [11]:
%%sql

INSERT INTO fornecedores (nome, telefone) VALUES ('ABC Distribuidora', '123-456789')

Running query in 'sqlite:///banco.sqlite3'

1 rows affected.

++
||
++
++

9. Exclua todos os clientes que possuem email "joao@example.com".

In [12]:
%%sql
DELETE FROM clientes
WHERE nome = 'joao@example.com'

Running query in 'sqlite:///banco.sqlite3'

++
||
++
++

10. Insira um novo pedido com cliente_id 1 e total 100.00.

In [13]:
%%sql

INSERT INTO pedidos (cliente_id, total) VALUES (1,100.00)

Running query in 'sqlite:///banco.sqlite3'

1 rows affected.

++
||
++
++

11.  Exclua todos os fornecedores.

In [14]:
%%sql

DELETE FROM fornecedores

Running query in 'sqlite:///banco.sqlite3'

1 rows affected.

++
||
++
++